@{
    ViewBag.Title = "Consulting";
}

<div class="container-fluid">

    <div class="row col-md-offset-1">
        <div>
            <h2>@ViewBag.Title</h2>
            <h3>Maximize the value of technology</h3>
            <p>Maximize return on your investment in Autodesk technology with world-class Autodesk Consulting services.</p>
            <p>Our global team of professionals and network of partners brings together industry-leading best practices and capabilities in business and technology consulting, solution implementation, and custom development. We provide enterprise business solutions that help you to:</p>
            <ul>
                <li>Win new work</li>
                <li>Innovate more quickly</li>
                <li> Accelerate adoption of new solutions</li>
                <li>Manage change with minimal risk</li>
            </ul>
            <center><img src="~/imgs/S01.png" width="500" class="img-responsive" /></center>
        </div>
        <div>
            <h3>Why Autodesk Consulting?</h3>
            <p>Autodesk Consulting advises professionals within AECOM’s business on how to stay ahead of the game within an ever-shifting business climate. Our global staff combine industry domain expertise with in-depth technical knowledge of the Autodesk portfolio.</p>
        </div>
        <div>
            <h3>How to access Autodesk Consulting?</h3>
            <p>Contact you’re your regional CSM or Regional BIM Director to find out how your project team can access Autodesk Consulting services.</p>
            <p>Click <a href="/resources">here </a> to locate your local resource. </p>
        </div>
    </div>

</div>



